<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" type="text/css" href="/css/room.css">
  </head>
  <body>
    <header>
      <h1>Rock Paper Scissors</h1>
    </header>
    <br/>
    <div class="container">
        <div class="box">
            <h2 id="head">Create a new game</h2>
            <br/>
            <form>
                <input type="text" name="name" id="nameCreate" placeholder="Enter your name" required/>
                <br/><br/>
                <button id="new">New Game</button>
            </form>
        </div>
        <br/>
        <div class="box">
            <h2 id="head">Join existing game</h2>
            <br/>
            <form>
                <input type="text" name="name" id="nameJoin" placeholder="Enter your name" required/>
                <input type="text" name="GameName" id="gameid" placeholder="Enter Game ID" required/>
                <br/><br/>
                <button id="new">Join Game</button>
            </form>
        </div>
    </div>