<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <header>
      <h1>Rock Paper Scissors</h1>
    </header>
    <br/>
    <div class="container">
      <div class="choices">
        <h3>Play with: </h3>
        <div class="choice">
          <a id="comp" href="/computer">
            <img src="/images/comp.jpg" height="20%" width="30%" alt="computer" style="border-radius: 30%;">
          </a> 
          <br />OR<br />
          <br/>
          <a id="multi" href="/multiplayer">
            <img src="/images/multi.png" height="20%" width="30%" alt="multiplayer" style="border-radius: 30%;" >
          </a>
        </div>
      </div>
    </div>
  </body>
</html>